### 제출 기한은 5월 17일 오후 11시 59분까지 입니다.

### 파일명 틀릴 시에 20% 감점
### D+1에 제출: -50%, 그 이후: 0점
### 문제 수정사항은 etl 과제 게시판에 공지하겠습니다.

In [1]:
import pandas as pd

## Q1. 결측치 제거

titanic.csv 를 읽고 각 컬럼 별로 결측치 수가 30% 이상이면 해당 컬럼을 제거한 뒤 결측치를 포함한 행을 제거하는 함수를 작성하시오.

함수의 return 에는 전처리된 데이터 프레임이 나와야 함
return 할 데이터프레임은 인덱스가 0부터 재설정되어야 함.

In [2]:
# titanic.csv 읽기
### start your code
data = pd.read_csv( 'titanic.csv')

In [3]:
def delete_na(df):
    ### start your code
    row_num = len(df)
    null_num_list = df.isnull().sum()
    
    for i in range(len(df.columns) - 1, -1, -1):
        null_num = null_num_list[i]
        cur_col = df.columns[i]
        # 결측치가 30% 이상인 열 삭제
        if null_num / row_num >= 0.3:
            df.drop(cur_col, axis=1, inplace=True)
    # 결측지가 존재하는 행 삭제
    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

In [4]:
data_processed = delete_na(data)
print(data_processed.shape)
# data_processed

(1043, 10)

## Q2. 자료형 변경
위에서 전처리된 데이터프레임을 읽고 Age 컬럼의 타입을 integer로 바꾸고, Sex, Passenger Class, Port of Embarkation 컬럼은 더미변수로 바꾸는 함수를 작성하시오. (데이터 병합 이용)

함수의 return 에는 전처리된 데이터 프레임이 나와야 함.
return 할 데이터프레임은 인덱스가 0부터 재설정되어야 함.

In [5]:
def change_type(df):
    ### start your code
    # Age 컬럼을 Integer타입으로 변환
    df['Age'] = df['Age'].astype('int')

    sex_dummies = pd.get_dummies(df['Sex'])
    pass_dummies = pd.get_dummies(df['Passenger Class'])
    port_dummies = pd.get_dummies(df['Port of Embarkation'])

    df.drop(['Sex', 'Passenger Class', 'Port of Embarkation'], inplace=True, axis=1)
    
    df_concat = pd.concat([df, sex_dummies, pass_dummies, port_dummies], axis=1)
    return df_concat

In [6]:
data_processed = change_type(data_processed)
print(data_processed.shape)

(1043, 15)